<li class="listItemGame">
    <div class="ui horizontal relaxed list listItemGameDiv">
        <div class="item">
            <img class="gameListImg"
                src="{{image}}">
        </div>
        <div class="item">
            <h2 class="gameListTitle">{{title}}</h2>
        </div>
        <div class="item">
            {{!-- what to do with the username --}}
            <h2 class="gameListUsername">Username: {{user_id}} </h2>
        </div>
    </div>
</li>