
<li class="listItemGame">
    <div class="ui inverted menu ">
        <div class="item">
            <div class="gameImgContainer">
            <img class="gameListImg" src={{image}}>
            </div>
        </div>
        <div class="item gameListTitle">
            {{title}}
        </div>
    </div>
</li>

