<li class="listItemGame">
    <div class="ui horizontal relaxed list listItemGameDiv">
        <div class="item">
            <img class="gameListImg" src={{image}}>
        </div>
        <div class="item">
            <h2 class="gameListTitle">{{title}}</h2>
        </div>
    </div>
</li>

