

        {{!-- <h2>{{ username }}</h2>
        <div class=".friendsCardFacts">
            <h4>Ideas for data to store:</h4>
            <ul>
            <li>Consoles: (usernames)</li>
            <li>Favorite Game</li>
            <li>Similar Friends</li>
            <li>Other idk</li>
            </ul>
        </div>
         --}}


