{{!-- TODO: Put main html page here --}}

<!doctype html>
<html lang="en">

<head>
  <title>MAIN PAGE</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>
  <header>
    <!-- place navbar here -->
  </header>
  <main>
    
  </main>
</body>

</html>