{{!-- <video autoplay muted loop id="myVideo">
  <source src="./imgs/synthMountainResized.mp4" type="video/mp4">
</video> --}}


<div class="ui secondary  menu" id="headerMain">
  <a class="item headerLink" id="titleCustom" href="/">
    Tyr's Vault
  </a>
  <div class="right menu">
    <a class="ui item headerLink" id="friendsLink" href="/friends">
      Friends
    </a>
    <a class="ui item headerLink" id="menuProfile" href="/profile">
      Profile
    </a>

    <a class="ui item">
      <div class="ui icon top left pointing dropdown inverted button" id="themeBtn">
        <i class="wrench icon"></i>
        <div class="menu">
          <div class="item">
            <button id="logout">Logout</button>
          </div>
        </div>
      </div>
    </a>
    <script>
      $('#themeBtn')
        .dropdown();
    </script>
  </div>
</div>


<div id="mainDiv">
  <div id="searchBarMain">
    <h4 id="friendSearch">Search for a player</h4>
    <div class="ui action input">
      <input type="text" placeholder="Gamers Username..." id="searchBar">
      <button class="ui button" id="searchButton">Find</button>
    </div>
  </div>


  {{#if data}}
  <section id="friendRequestList">
    <div class="ui raised rounded card" id="mainFriendRequestCard">
      <div class="content" id="friendRequests">
        <h4 class="header" style="color: white;">Friend Requests:</h4>
        <div id="friendRequestContainer">
          {{#each data as |request|}}
          {{> friendReq-details}}
          {{/each}}
        </div>
      </div>
    </div>
  </section>
  {{/if}}

  <h1 id="yourFriendsTitle">Find friends</h1>
  <div id="friendDisplayMain">
    <div id="friendListDiv">
      <section class="splide" id="splide1" aria-label="Splide Basic HTML Example"
        data-splide='{"type":"loop", "padding":"5rem", "perPage":"4", "perMove":"1", "focus":"0" }'>
        <div class="splide__track">
          <ul class="splide__list" id="friendDisplay">

          </ul>
        </div>
      </section>

    </div>
    <script>

    </script>
  </div>

</div>

{{!-- <footer>
  <div class="footer" style="background-color: rgba(32, 32, 32, .9);">
    <div class="row">
      <a href="https://github.com/sadums">
        <i class="fa-brands fa-github"></i>
        Sadums
      </a>
      <a href="https://github.com/kolelam">
        <i class="fa-brands fa-github"></i>
        Kolelam
      </a>
      <a href="https://github.com/carreejoh">
        <i class="fa-brands fa-github"></i>
        Carreejoh
      </a>
      <a href="https://github.com/jonny258">
        <i class="fa-brands fa-github"></i>
        Jonny258
      </a>
    </div>

    <div class="row">
      Made by Omega Gamers
    </div>
  </div>
</footer> --}}
<footer id="friendsFooter">
      <div class="ui secondary centered menu">
        <a class="ui icon item" href="https://github.com/sadums">
          <i class="github large icon"></i> Sadums
        </a>
        <a class="ui icon item" href="https://github.com/kolelam">
          <i class="github large icon"></i> Kolelam
        </a>
        <a class="ui icon item" href="https://github.com/carreejoh">
          <i class="github large icon"></i> Carreejoh
        </a>
        <a class="ui icon item" href="https://github.com/jonny258">
          <i class="github large icon"></i> Jonny258
        </a>
        </div>
        </footer>
</div>