<section class="col-md-12">
    
</section>
<section class="col-md-12 m-5">
    <form class="d-flex m-5">
      <input class="form-control me-sm-2" type="text" placeholder="Search" id="friend-search-text">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="friend-search-button">Add Friend</button>
    </form>
    <h2 class="col-md-12">Friend Requests: </h2>
    <div class="row justify-content-center align-items-center g-2" id="friends-request-list" style="width: 50%">
    </div>
    <h2 class="col-md-12">Friends: </h2>
    <div class="row justify-content-center align-items-center g-2" id="friends-list" style="width: 50%">
    </div>
</section>
