<section class="col-md-12">
    
</section>
<section class="col-md-12">
    <h2 class="col-md-12">Friends: </h2>
    <div class="row justify-content-center align-items-center g-2" id="friends-list" style="width: 50%">
    </div>
</section>
