<div class="ui secondary  menu" id="headerGames">
  <a class="item" id="titleCustom">
    Tyr's Vault
  </a>
  <div class="right menu">
    <a class="ui item" id="friendsLink" href="/friends">
      Friends
    </a>
    <a class="ui item" id="statsLink">
      Games
    </a>
    <a class="ui item" id="menuProfile">
      Profile
    </a>

    <a class="ui item">
      <div class="ui icon top left pointing dropdown inverted button" id="themeBtn">
        <i class="wrench icon"></i>
        <div class="menu">
          <div class="item">
            <button id="logout">Logout</button>
          </div>
        </div>
      </div>
    </a>
    <script>
      $('#themeBtn')
        .dropdown();
    </script>
  </div>
</div>







<div id="gamesMain">
<div id="searchBarGames">
  <h4 class="ui red text" id="gameSearch">Search for a game</h4>
  <div class="ui action input">
    <input type="text" id="searchedGame" placeholder="Gamer...">
    <button class="ui button">Find</button>
  </div>
</div>


<h1 id="gamesTitle">Browse Games</h1>
<div id="gameDisplayMain">
  <div>
    <section class="splide" id="splide2" aria-label="Splide Basic HTML Example"
      data-splide='{"type":"loop", "padding":"8rem", "perPage":"4", "perMove":"1", "focus":"0"}'>
      <div class="splide__track">
        <ul class="splide__list" id="gameList">
          <li class="splide__slide">
            <div class="gameCard gameCard1">

            </div>
          </li>
          <li class="splide__slide">
            <div class="gameCard gameCard2">

            </div>
          </li>
          <li class="splide__slide">
            <div class="gameCard gameCard3">

            </div>
          </li>
          <li class="splide__slide">
            <div class="gameCard gameCard4">

            </div>
          </li>
          <li class="splide__slide">
            <div class="gameCard gameCard5">

            </div>
          </li>
          <li class="splide__slide">
            <div class="gameCard gameCard6">

            </div>
          </li>
          <li class="splide__slide">
            <div class="gameCard gameCard7">

            </div>
          </li>
          <li class="splide__slide">
            <div class="gameCard gameCard8">

            </div>
          </li>
          <li class="splide__slide">
            <div class="gameCard gameCard9">

            </div>
          </li>
          <li class="splide__slide">
            <div class="gameCard gameCard10">

            </div>
          </li>
          <li class="splide__slide">
            <div class="gameCard gameCard11">

            </div>
          </li>
          <li class="splide__slide">
            <div class="gameCard gameCard12">

            </div>
          </li>
          <li class="splide__slide">
            <div class="gameCard gameCard13">

            </div>
          </li>
          <li class="splide__slide">
            <div class="gameCard gameCard14">

            </div>
          </li>
          <li class="splide__slide">
            <div class="gameCard gameCard15">

            </div>
          </li>

        </ul>
      </div>
    </section>
  </div>
  <script src="./js/gamesPage.js"></script>
  <script>
    new Splide('#splide2', {

    }).mount();
  </script>
  </div>