<div id="searchBarMain">
    <h4 class="ui red text" id="friendSearch">Search for a game</h4>
    <div class="ui action input">
        <input type="text" id="searchedGame" placeholder="Gamer...">
        <button class="ui button">Find</button>
    </div>
</div>


<h1 id="statsTitle">Browse Games</h1>
    <div id="statsDisplayMain">
      <div>
        <section class="splide" id="splide2" aria-label="Splide Basic HTML Example"  data-splide='{"type":"loop", "padding":"8rem", "perPage":"5", "perMove":"1", "focus":"0"}'>
            <div class="splide__track">
                <ul class="splide__list" id="gameList">
                    <li class="splide__slide">
                      <div class="friendCard gameCard1">

                      </div>
                   </li>
                    <li class="splide__slide">
                      <div class="friendCard gameCard2">

                      </div>
                   </li>
                    <li class="splide__slide">
                      <div class="friendCard gameCard3">

                      </div>
                   </li>
                    <li class="splide__slide">
                      <div class="friendCard gameCard4">

                      </div>
                   </li>
                    <li class="splide__slide">
                      <div class="friendCard gameCard5">

                      </div>
                   </li>
                    <li class="splide__slide">
                      <div class="friendCard gameCard6">

                      </div>
                   </li>
                    <li class="splide__slide">
                      <div class="friendCard gameCard7">

                      </div>
                   </li>
                    <li class="splide__slide">
                      <div class="friendCard gameCard8">

                      </div>
                   </li>
                    <li class="splide__slide">
                      <div class="friendCard gameCard9">

                      </div>
                   </li>
                    <li class="splide__slide">
                      <div class="friendCard gameCard10">

                      </div>
                   </li>
                    <li class="splide__slide">
                      <div class="friendCard gameCard11">

                      </div>
                   </li>
                    <li class="splide__slide">
                      <div class="friendCard gameCard12">

                      </div>
                   </li>
                    <li class="splide__slide">
                      <div class="friendCard gameCard13">

                      </div>
                   </li>
                    <li class="splide__slide">
                      <div class="friendCard gameCard14">

                      </div>
                   </li>
                    <li class="splide__slide">
                      <div class="friendCard gameCard15">

                      </div>
                   </li>

                </ul>
            </div>
          </section> 
          </div>
          <script>
            new Splide( '#splide2', {
           
            } ).mount();
          </script>
