<div class="ui secondary  menu" id="headerMain">
        <a class="item" id="titleCustom">
          Tyr's Vault 
        </a>
        {{#if loggedIn}}
          <div class="right menu">
            <a class="ui item" id="friendsLink" href="/friends">
              Friends
            </a>
            <a class="ui item" id="statsLink">
              Stats
            </a>
            <a class="ui item" id="menuProfile">
              Profile
            </a>

            <a class="ui item" >
              <div class="ui icon top left pointing dropdown button" id="themeBtn">
              <i class="wrench icon"></i>
                <div class="menu">
                  <div class="item">
                    <button id="logout">Logout</button>
                  </div>
                </div>
              </div>
            </a>
            <script>
              $('#themeBtn')
                .dropdown();
            </script>
          </div>
        {{else}}
          <div class="right menu">
            <a class="ui item" id="loginLink" href="/login">
              Login
            </a>
          </div>
        {{/if}}
</div>

<div id="mainDiv">
    <div id="searchBarMain">
        <h4 id="friendSearch">Search for a player</h4>
        <div class="ui action input">
            <input type="text" placeholder="Gamers Username...">
            <button class="ui button">Find</button>
        </div>
    </div>

    <h1 id="yourFriendsTitle">Your friends</h1>
    <div id="friendDisplayMain">
        <div id="friendListDiv">
            <section class="splide" id="splide1" aria-label="Splide Basic HTML Example" data-splide='{"type":"loop", "padding":"5rem", "perPage":"4", "perMove":"1", "focus":"0" }'>
                <div class="splide__track">
                      <ul class="splide__list" id="friendDisplay">
                         
                      </ul>
                </div>
              </section>
        </div>
        <script>
          
        </script>
    </div>
    {{!-- <h1 id="statsTitle">Your Stats</h1>
    <div id="statsDisplayMain">
      <div>
        <section class="splide" id="splide2" aria-label="Splide Basic HTML Example"  data-splide='{"type":"loop", "padding":"8rem", "perPage":"5", "perMove":"1", "focus":"0"}'>
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                      <div class="friendCard">
                       <h2>asdfdef</h2>
                      </div>
                   </li>
                   <li class="splide__slide">
                      <div class="friendCard">

                      </div>
                   </li>
                   <li class="splide__slide">
                      <div class="friendCard">

                      </div>
                   </li>
                   <li class="splide__slide">
                      <div class="friendCard">

                      </div>
                   </li>
                </ul>
            </div>
          </section> 
          </div>
          <script>
            new Splide( '#splide2', {
           
            } ).mount();
          </script> --}}
          {{!-- {{> splide users }} --}}
    </div>
    <footer>
        <div class="ui secondary centered menu">
            <a class="ui icon item">
                <i class="wrench large icon"></i>
            </a>
            <a class="ui icon item">
                <i class="github large icon"></i>
            </a>
        </div>
    </footer>
    </div>

