<div>
    <div class="ui secondary  menu" id="landingHeader">
        <h2 class="item" id="titleCustom">
          Omega Gamers 
        </h2>
        <div class="right menu">
          <a class="ui item" id="loginBtn">
            Login
          </a>
          <a class="ui item" id="signUpBtn">
            Sign Up
          </a>
        </div>
      </div>
      <!---->
      <div id="welcomeTextDiv" class="ui grid container">
        <div class="ui eight wide column">
          <span id="welcomeText"></span>
        </div>
        <div class="ui eight wide column">
          <h1>sdfadjshklfasdfds></h1>
        </div>
      </div>
  </div>