{{!-- <div>
    <h2 id="login-header">Login: </h2>
    <div>
        <label for="email">Email:</label>
        <input type="text" id="email">
    </div>
    <div id="username-div">
        <label for="username">Username:</label>
        <input type="text" id="username">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password">
    </div>
    <div id="confirm-password-div">
        <label for="confirm-password">Confirm Password:</label>
        <input type="password" id="confirm-password">
    </div>
    <button id="submit-signup">Sign-up</button>
    <button id="submit-login">Login</button>
    <button id="switch-signup">Switch to sign-up</button>
    <button id="switch-login">Switch to login</button>
</div> --}}

<div>
    <div class="ui secondary  menu" id="landingHeader">
        <h2 class="item" id="titleCustom">
          Omega Gamers 
        </h2>
        <div class="right menu">
          <a class="ui item" id="loginBtn">
            Login
          </a>
          <a class="ui item" id="signUpBtn">
            Sign Up
          </a>
        </div>
      </div>
      <!---->
      <div id="welcomeTextDiv" class="ui grid container">
        <div class="ui eight wide column">
          <span id="welcomeText"></span>
        </div>
        <div class="ui eight wide column">
          <h1>sdfadjshklfasdfds></h1>
        </div>
      </div>
  </div>