<div>
    <div class="ui secondary  menu" id="landingHeader">
        <h2 class="item" id="titleCustom">
          Tyr's Vault
        </h2>
        <div class="right menu">
          <button class="ui item button" id="loginBtn">
            Login
          </button>
          <a class="ui item" id="signUpBtn">
            Sign Up
          </a>
        </div>
      </div>
      <!---->
      <div id="welcomeTextDiv" class="ui grid container">
        <div class="ui sixteen wide column">
          <span id="welcomeText"></span>
        </div>
        <div class="ui six wide column">
          <div id="landingDescription">
             <h2>Welcome to our social gaming hub! 
              Our platform empowers gamers to showcase their game stats, 
              achievements, and progress. Connect with fellow gamers, 
              track your performance, and embark on an epic journey of 
              virtual conquests. Have fun!</h2>
          </div>
        </div>
      </div>
  </div>

<!-- Modal for login/signup-->

  <div class="ui tiny modal">
    <script>
      $('.ui.modal')
.modal('attach events', '#loginBtn', '#signUpBtn')
  .modal('show')
  ;
    </script>
  <i class="close icon"></i>
  <div class="header">
    <h2 id="titleCustom">
          TYR's Vault</h2>
  </div>
  <div id="modalForm">
    <style>
      #modalForm {
        width: 80%;
        margin-left: 10%;
      }
      .loginH2Modal {
        text-align: center;
        color: #f10983;
        padding: 2%;
        font-family: 'Bangers', cursive;
      }
      #password {
        margin-bottom: 2%;
      }
    </style>
    <form class="ui form">
      <div class="header">
        <h2 class="loginH2Modal">Login</h2>
      </div>
  <div class="field">
    <label>Email</label>
    <input type="text" id="email" placeholder="email">
  </div>
  <div class="field">
    <label>Password</label>
    <input type="text" id="password" placeholder="password">
  </div>
</form>
<form class="ui form">
      <div class="header">
        <h2 class="loginH2Modal">Sign Up</h2>
      </div>
  <div class="field">
    <label>Username</label>
    <input type="text" id="username" placeholder="username">
  </div>
  <div class="field">
    <label>Email</label>
    <input type="text" id="signUpEmail" placeholder="email">
  </div>
  <div class="field">
    <label>Password</label>
    <input type="text" id="signUpPassword" placeholder="password">
  </div>
  <div class="field">
    <label>Confirm Password</label>
    <input type="text" id="signUpPassword" placeholder="confirm password">
  </div>
</form>
</div>

  <div class="actions">
    <button class="ui positive right labeled icon button">
      Submit
      <i class="checkmark icon"></i>
    </button>
  </div>
</div>