<div>
    <h2>Login: </h2>
    <div>
        <label for="email">Email:</label>
        <input type="text" id="login-email">
    </div>
    <div>
        <label for="email">Password:</label>
        <input type="password" id="login-password">
    </div>
</div>