/* Carter use this file for the css specific to the friends page */
* {
    font-family: 'Bangers', cursive;
    font-family: 'Barlow', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Tillana', cursive;
    font-family: 'Turret Road', cursive;
}

:root {
    --purple: #570bb7;
    --lightpurple: #d042f8;
    --lightblue: #2edbef;
    --darkblue: #0f2364;
    --lightgreen: #3aefb6;
    --hotpink: #f10983;
    --moderngray: #5c5e60;
}

/* for header */ 
#headerProfile {
    width: 101%;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    /* background-color: rgb(95, 95, 99, 1); */
    background-color: rgba(12, 20, 51);
    border: solid var(--darkblue);
    border-width: 0px 0px 3px 0px;
    position: fixed;
}


#titleCustom {
    font-family: 'Bangers', cursive;
    font-size: 34px;
    color: var(--hotpink);
    padding: 4px;
    overflow: hidden;

    background: linear-gradient(to right, var(--hotpink), var(--lightblue) 50%, var(--hotpink) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
}


#titleCustom:hover {
    background-position: 0 100%;
}



/* FOR MAIN CONTENT (profile) */

#mainProfileDiv {
    background-image: url('../imgs/jellyfish\ dark.jpg');
    height: 100%;
    background-size: cover;
}

#profileSection {
    width: 50%;
    margin-left: 25%;
    height: 100%;
    /* background-color: rgba(18, 29, 66, 0.8); */
    background-image: linear-gradient(to bottom right, rgba(12, 20, 51, 0.8), 80%, rgba(76, 20, 179, 0.8));
    border: solid 3px var(--darkblue);
    padding-top: 5%;
}

/* for profile header */

#profileHeader {
    margin-top: 2%;
    width: 90%;
    margin-left: 5%;
    /* background-color: #0f1d49; */
}

#userProfilePic {
    height: 120px;
    width: 120px;
    border: solid 2px var(--hotpink);
    border-radius: 100%;
}

#profileUsername {
    font-family: 'Bangers', cursive;
    font-size: 70px;
    font-weight: 400;
    color: white;
}

#profileHeaderExtra {
    color: white;
    font-size: 18px;
}