* {
    font-family: 'Bangers', cursive;
    font-family: 'Barlow', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Tillana', cursive;
    font-family: 'Turret Road', cursive;
}

:root {
    --purple: #570bb7;
    --lightpurple: #d042f8;
    --lightblue: #2edbef;
    --darkblue: #0f2364;
    --lightgreen: #3aefb6;
    --hotpink: #f10983;
    --moderngray: #5c5e60;
}

/* FOR MAIN CONTENT MENU */


#headerMain {
    width: 101%;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    z-index: 5;
    background-color: rgb(95, 95, 99, .7);
    position: fixed;
}


#titleCustom {
    font-family: 'Bangers', cursive;
    font-size: 34px;
    color: var(--hotpink);
    padding: 4px;
    overflow: hidden;

    background: linear-gradient(to right, var(--hotpink), var(--lightblue) 50%, var(--hotpink) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
}


#titleCustom:hover {
    background-position: 0 100%;
}

/* for links */

#friendsLink {
    font-family: 'Bangers', cursive;
    font-weight: 300;
    color: white;
    font-size: 26px;
    border: solid var(--lightblue);
    padding: 5px;
    border-width: 0px 0px 3px 0px;
    border-radius: 0px;

    /* for hover to work */

    background: linear-gradient(to right top, var(--lightblue), var(--lightblue) 40%, white 30%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 200%;
    background-position: 100%;
    transition: background-position 300ms ease;
}

#friendsLink:hover {
    background-position: 0 100%;
}

#statsLink {
    font-family: 'Bangers', cursive;
    font-weight: 300;
    color: white;
    font-size: 26px;
    border: solid var(--lightblue);
    padding: 5px;
    border-width: 0px 0px 3px 0px;
    border-radius: 0px;

    /* for hover to work */
    background: linear-gradient(to right top, var(--lightblue), var(--lightblue) 40%, white 30%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 200%;
    background-position: 100%;
    transition: background-position 300ms ease;
}

#statsLink:hover {
    background-position: 0 100%;
}

#loginLink {
    font-family: 'Bangers', cursive;
    font-weight: 300;
    color: white;
    font-size: 26px;
    border: solid var(--lightblue);
    padding: 5px;
    border-width: 0px 0px 3px 0px;
    border-radius: 0px;

    /* for hover to work */
    background: linear-gradient(to right top, var(--lightblue), var(--lightblue) 40%, white 30%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 200%;
    background-position: 100%;
    transition: background-position 300ms ease;
}

#loginLink:hover {
    background-position: 0 100%;
}


#menuProfile {
    font-family: 'Bangers', cursive;
    font-weight: 300;
    color: white;
    font-size: 26px;
    border: solid var(--hotpink);
    padding: 5px;
    border-width: 0px 0px 3px 0px;
    border-radius: 0px;

    /* for hover to work */
    background: linear-gradient(to right top, var(--hotpink), var(--hotpink) 40%, white 30%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 200%;
    background-position: 100%;
    transition: background-position 300ms ease;
}

#menuProfile:hover {
    background-position: 0 100%;
}


/* FOR MAIN CONTENT */

#mainDiv {
    height: 100%;
    padding-top: 6%;
    /* background-image: linear-gradient(20deg, var(--darkblue), 60%, var(--lightpurple)); */
    /* background-color: #333232; */
    /* background-image: url('https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fhdwpro.com%2Fwp-content%2Fuploads%2F2017%2F10%2FFree-Space-Background.png&f=1&nofb=1&ipt=6f1cf7ecbd789ac814a930726a9bc8e9ae831404fa8593ce2a45557a404ec6e5&ipo=images'); */
    
    background-image: url('https://getwallpapers.com/wallpaper/full/3/e/1/398089.jpg');
    /* background-image: url('image.png'); */
    background-size: cover;
}

/* For Friend Request cards */

#mainFriendRequestCard {
    width: fit-content;
    margin-left: 25%;
    margin-top: 5%;
    height: fit-content;
    background-color: rgb(12, 20, 51);
    border: solid 2px var(--hotpink);
    padding: 5px;
}
.friendRequestCard{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}
.friendRequestTitle{
    color: white;
    size: 15px;
}
.friendRequestProfilePicture{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


/* for search bar */

#friendSearch {
    color: white;
    font-family: 'Bangers', cursive;
    font-weight: 200;
    font-size: 30px;
}

#searchBarMain {
    text-align: center;
    width: 100%;
    padding-top: 2%;
    /* Original padding-bottom: 2%;*/
}

/* for displaying friends list */

#yourFriendsTitle {
    color: var(--lightblue);
    font-family: 'Bangers', cursive;
    font-weight: 200;
    font-size: 30px;
    margin-left: 10%;
}

#friendDisplayMain {
    width: 100%;
    height: 33vh;
    margin-bottom: 5%;
    border: solid var(--lightblue);
    border-width: 4px 0px 4px 0px;
    /* background-color: var(--moderngray); */
}

/* For Cards */

.friendCard {
    height: 32.5vh;
    /* background-color: var(--moderngray); */
    background-color: rgba(32, 32, 32, 0.9); 
    width: 90%;
    border: solid 2px var(--lightblue);
    border-radius: 10px;
}

/* .friendCard h2 {
    font-family: 'Bangers', cursive;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 40px;
    margin-top: 3%;
    margin-left: 5%;
} */

.newFriendLink {
    width: 12%;
    margin-left: 4%;
    font-family: 'Bangers', cursive;
    color: white;
    font-weight: 300;
    font-size: 50px;
    padding: 6%;
    padding-top: 7.5%;
    /* border: solid var(--hotpink);
    border-width: 0px 0px 2px 0px ; */
}

.friendsCardFacts {
    width: 90%;
    margin-left: 5%;
}

.homePFP {
    width: 60px;
    height: 60px;
    border: solid 2px black;
    border-radius: 100%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.friendCardHeader {
    display: flex;
    flex-direction: row;
    border: solid var(--lightblue);
    border-width: 0px 0px 3px 0px;
    /* background-color: rgba(158, 9, 106, 0.9); */
    background-color: rgba(250, 239, 239, 0.3);
    border-radius: 8px 8px 0px 0px;
}

.friendGameDiv {
     /* background-color: rgba(78, 78, 78, 0.9);
     border: solid var(--hotpink);
     border-width: 0px 0px 0px 0px ;
     border-radius: 0px 0px 8px 8px; */
     height: 90%;
}

.friendGameDiv h2 {
    color: white;
    font-size: 16px;
    margin-left: 10%;
}

/* For footer */

footer {
    padding: 1.2%;
    width: 100%;
    background-color: var(--moderngray);
}