/* Carter use this file for the css specific to the profile page */

#profilePicture{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profilePicture{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.friendHeader{
    font-size: 22px;
}

.platformContainer{
    display: flex; 
    justify-content: center; 
    gap: 15px;
    align-items: center;
    padding: 5px;
    height: fit-content;
    width: fit-content;
}
